
$jet: #131113;
$dirt: #1b1719;
$ash: #393d3a; 
$grass: #3f5843; 
$darkCyan: #009f77;
$midnightBlue: #190c4f;
$tan: #b69b7d;
$tanDark: #8f7961;
$tanLight: #ceb395;

$cloud: #d4d6d5;

$bgColor: $dirt;
$bgContentColor: rgba($ash, 0.2);
$bgHeaderColor: rgba($jet, 1);

$textHeaderColor: $darkCyan;
$textContentColor: $cloud;
$textAltContentColor: $darkCyan;
