.description 
{
    
    padding: 1vmin;
    width: 100%;
}

.imageView {
    margin: auto;
}

.descriptionRow {
    margin-bottom: 30px;
    width: 100%;

    .button {
        width: 20%;
        text-align: center;
        margin: auto;
    }
}

.descriptionKey {
    color: $textAltContentColor;
    text-transform: uppercase;
    font-size: 1rem;
    border-bottom: 1px solid $ash;
    
}
.descriptionValue {
    font-size: 1.4rem;
    color: $textContentColor;
    text-decoration: none;
}

.link {
    
    &:hover {
        color: $textAltContentColor;
    }
}
